body {
    background: url("/crystal-collector/assets/images/dark-grey-terrazzo.png")
}
body {
    background-image: url("/crystal-collector/assets/images/dark-grey-terrazzo.png");
    background-position: center 0%;
    background-repeat: no-repeat;
}
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 50px;
    color:rgb(0, 7, 7);
    font-family: Pehlevi;
}
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x:hidden;
    padding-top: 20px;
}
.sidenavRight {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x:hidden;
    padding-top: 20px;
    color: orangered;
}