

body {
    background-image: url("../images/terazzo.png.png");
   
}
div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 50px;
    color:rgb(191, 241, 97);
    font-family: Pehlevi;
}
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x:hidden;
    padding-top: 20px;
}
.sidenavRight {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x:hidden;
    padding-top: 20px;
    color: orangered;
}

